body{
    margin: 0px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color:dimgrey;
}

.grid {
    background-color:rgba(241, 76, 61, 0.897);
    grid-template-columns: repeat(12, 1fr);
    list-style: none;
    display: grid;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 20px;
}

.a{
    grid-column: 7;
}

.b{
    grid-column: 9;
}
